body{
    background-color:rgb(161, 76, 241);
    margin-top: 100px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerBox{
    background-color: rgb(255, 255, 255);
    height: 420px;
    width: 600px;
    
}

h1{
    font-family: sans-serif;
    font-size: 3rem;
    color: rgb(161, 76, 241);
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task,#add{
    font-family: sans-serif;
    font-size: 1rem;
    color:grey;
    width: 350px;
    height: 40px;
    border-color: rgb(0, 0, 0);
    border-width: 0.15rem;
    border-radius: 100px;
    margin-right: 10px;
    padding-left: 15px;
    margin-bottom: 30px;

}

#add{
    background-color: rgb(0, 162, 255);
    width: 100px;
    border: none;
    color: white;
}

#taskList{
    margin : 10px 20px;
}

li{
    background-color: rgb(232, 222, 235);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 200px;
    color: rgb(109, 113, 119);

}

